aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
async-lru==2.0.4
attrs==23.2.0
autopep8==2.1.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
cssselect==1.2.0
distro==1.9.0
fake-useragent==1.5.1
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.3
httpx==0.26.0
idna==3.6
importlib_metadata==7.1.0
lxml==5.2.1
lxml_html_clean==0.1.1
meta_ai_api==1.1.7
multidict==6.0.5
oauthlib==3.2.2
openai==0.28.0
parse==1.20.1
pycodestyle==2.11.1
pydantic==2.6.1
pydantic_core==2.16.2
pyee==11.1.0
pyppeteer==2.0.0
pyquery==2.0.0
python-decouple==3.8
requests==2.31.0
requests-html==0.10.0
requests-oauthlib==1.3.1
sniffio==1.3.0
soupsieve==2.5
tqdm==4.66.2
tweepy==4.14.0
typing_extensions==4.9.0
urllib3==1.26.18
w3lib==2.1.2
websockets==10.4
yarl==1.9.4
zipp==3.18.1
